* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Helvetica Neue", Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.pageTitle {
  position: absolute;
  top: 0;
  left: 0;
}

.counter {
  margin-top: 50px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.button {
  padding: 5px;
}
